.home{
  width: 78.5vw;
  height: 68vh;
  text-align: center;
  align-items: center;
  padding-top: 20vh;
  font-size: 3em;
}

.btn{
  background: black;
  border: white 1px solid;
  border-radius: 8px;
  font-size: 20px;
  color: white;
  transition: 0.2s;
  cursor: pointer;
  &:hover{
    background: white;
    border: black;
    color: black;
    transition: 0.2s;
  }
}