.form{
  width: 100vw;
  &__text{
    padding-top: 7vh;
    padding-bottom: 5vh;
    text-align: center;
    margin: auto;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.7vh;
    line-height: 2vh;
    color: #818181;
  }
  &__company{
    display: flex;
    width: 66vw;
    text-align: center;
    margin: auto;

    box-shadow: 0px 12px 20px rgba(138, 138, 138, 0.15);
    border-radius: 10px;
    margin-bottom: 7vh;
  }
  &__map{
    width: 38.5vw;
    height: 52.8vh;
  }
  &__contact_us{
    padding-top: 4.6vh;
    width: 27.5vw;
  }
  &__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2vh;
    line-height: 2.5vh;
    color: #333333;

    padding-bottom: 4vh;
  }
  &__input{
    width: 16vw;
    height: 3.2vh;
    padding-left: 1vw;
    margin-bottom: 3vh;
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(136, 136, 136, 0.1);
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vh;
    line-height: 1.5vh;
  }
  &__textarea{
    width: 16vw;
    height: 10vh;
    padding-left: 1vw;
    padding-top: 1vh;
    margin-bottom: 3vh;
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(136, 136, 136, 0.1);
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vh;
    line-height: 1.5vh;
  }
  &__submit{
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vh;
    line-height: 2vh;
    text-align: center;

    width: 7vw;
    height: 3vh;
    background: linear-gradient(90deg, #0052D4 0%, #4364F7 50%, #6FB1FC 100%);
    border-radius: 30px;
    border-color:#FFFFFF ;
    cursor: pointer;
    &:hover{
      background: linear-gradient(90deg,  #6FB1FC 0%, #4364F7 50%, #0052D4 100%);
    }
  }
  &__privacy{
    padding-top: 3vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1vh;
    line-height: 1.5vh;
    text-align: center;

    color: #B1B1B1;

  }
}