.header{
  &__info{
    background: #0A0043;
    width: 100vw;
    height: 3vh;
    display: flex;
  }
  &__contacts{
    display: flex;
    padding-left: 17.2vw;
    &_item{
      padding-top: 0.7vh;
      display: flex;
      padding-right: 2.5vh;
    }
    &_icon{
      padding-right: 1vh;
      width: 1.3vh;
      height: 1.3vh;
    }
    &_text{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 1vh;
      line-height: 1.4vh;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FFFFFF;
    }
  }
  &__other{
    display: flex;
    padding-left:37vw ;
    &_item{
      padding-top: 0.3vh;
      padding-right: 1vw;
    }
    &_icon{
      width: 1.5vh;
      height: 1.5vh;
    }
  }
  &__nav{
    height: 5.5vh;
    width: 100vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(138, 138, 138, 0.1);
    display: flex;
  }
  &__logo{
    padding-left: 17.2vw;
    padding-top: 1vh;
    &_icon{
      width: 4vw;
      height: 4vh;
    }
  }
  &__links{
    padding-left: 25vw;
    padding-top: 1.2vh;
  }
  &__link{
    padding-right: 2.3vw;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vh;
    line-height: 1vw;
    text-align: right;
    color: #000000;
  }
  &__auth{
    padding-left: 1.3vw;
    padding-top: 1.8vh;
    display: flex;
    height: 1.5vh;

  }
  &__login{
    padding-right: 0.5vw;
    border-right: 1px black solid;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3vh;
    line-height: 1.5vh;
    text-align: right;
    color: #000000;


  }
  &__signup{
    padding-left: 0.5vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3vh;
    line-height: 1.5vh;
    text-align: right;
    color: #000000;
  }
}

.heart{
  padding-top: 0.4vh;
  width: 2vh;
  height: 2vh;
}